/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2021, 05:02:45 PM
    Author     : emanuelle
*/
.containerTabPro{
    	width: 50%;
	border-radius: 20px;
	margin: 5em auto;
	display: flex;   
}


.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company_info{
	background-color: #0066ff ;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}

.row > h2{
	color:#0066ff;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;

}
form{
	padding: 0 2em;
}
.form_input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form_input:focus{
	border-bottom-color: #0066ff;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#0066ff;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #0066ff;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn:hover, .btn:focus{
	background-color: #0066ff;
	color:#fff;
}

input[type=text].is-invalid,input[type=password].is-invalid{
    border-color: #dc3545;
   
}